.Phonetics {
  height: 50px;
  margin-top: 15px;
}

.Phonetics button {
  border: 1px solid #213458;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #fcf8f3;
  transition: all 150ms ease-in-out;
}
.Phonetics button:hover {
  background-color: #fcebdd;
}
.Phonetics .volumeIcon {
  height: 25px;
  width: 25px;
  color: #213458;
  display: block;
  margin: 0 auto;
}
.Phonetics .text {
  display: block;
  margin: -40px 60px;
  color: #213458;
  font-size: 20px;
}
